{% extends 'church_app/layout.html' %}
{% block content %}
    <div class='ui one column padded stackable grid'>
        <div class='row'>
        <br>
        <br>
            <h2 class='ui header'>Programs </h2>
            <div class='ui five column grid'>
            
                <div class='column'>
                <img  class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img  class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img  class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img  class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img  class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

            </div>
        </div>

        <div class='row'>
            <h2 class='ui header'>Men's Fellowship </h2>
            <div class='ui five column padded grid'>
                <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

            </div>
        </div>

        <div class='row'>
            <h2 class='ui header'>Something Else Here </h2>
            <div class='ui five column padded grid'>
                <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

                <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>

                </div>

            </div>
        </div>

    </div>
{% endblock content %}