{% extends "church_app/layout.html" %}
{% block content %}
    <div class='ui column grid'>
        
            <div class='column'>
                <div class='ui placeholder segment'>
                    <h1>Carousel Here </h1>
                </div>
            </div> 
    </div>
    <div class='ui  divided  three column centered stackable padded grid'>
            <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>
                <h2 class="ui header">
                <div class="content">
                    Something Here
                    <div class='sub header'>
                        repudiandae officiis consectetur quisquam ducimus? Neque itaque ducimus blanditiis alias quas, facere cupiditate pariatur tempora ducimus earum recusandae maxime expedita veritatis. Ipsam blanditiis illo culpa inventore. 
                    </div>
                </div>
                </h2>
            </div>

             <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>
                <h2 class="ui header">
                <div class="content">
                    Something Here
                    <div class='sub header'>
                        repudiandae officiis consectetur quisquam ducimus? Neque itaque ducimus blanditiis alias quas, facere cupiditate pariatur tempora ducimus earum recusandae maxime expedita veritatis. Ipsam blanditiis illo culpa inventore. 
                    </div>
                </div>
                </h2>
            </div>

             <div class='column'>
                <img style='align-self:center' class="ui tiny image" src="https://fomantic-ui.com/images/icons/school.png" alt='image'>
                <h2 class="ui header">
                <div class="content">
                    Something Here
                    <div class='sub header'>
                        repudiandae officiis consectetur quisquam ducimus? Neque itaque ducimus blanditiis alias quas, facere cupiditate pariatur tempora ducimus earum recusandae maxime expedita veritatis. Ipsam blanditiis illo culpa inventore. 
                    </div>
                </div>
                </h2>
            </div>
    </div>
    <h2 class='ui header'>Current Updates</h2>
   <div class='ui padded stackable centered grid'> 
    <div class="ui divided items">
        <div class="item">
            <div class="ui tiny image">
            <img src="https://fomantic-ui.com/images/wireframe/image.png">
            </div>
            <div class="middle aligned content">
              {% lorem 1 b random %}
            </div>
        </div>
        <div class="item">
            <div class="ui tiny image">
            <img src="https://fomantic-ui.com/images/wireframe/image.png">
            </div>
            <div class="middle aligned content">
                {% lorem 1 b random %}
            </div>
        </div>
        <div class="item">
            <div class="ui tiny image">
            <img src="https://fomantic-ui.com/images/wireframe/image.png">
            </div>
            <div class="middle aligned content">
             {% lorem 1 b random %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}