{% extends 'church_app/layout.html' %}
{% block content %}
<br/>
<br/>
<br/>
    <div class='ui container'>

        <div class='ui two column stackable grid'>
            <div class='column'>
                <h2 class='ui header'>
                    <i class='ui music icon'></i>
                    <div class='content'>
                        Songs
                    </div>
                </h2>
                <div class='ui horizontal divider'><i class='ui music icon'></i></div>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="large open book middle aligned icon"></i>
                        <div class="content">
                        <a class="header">Song Title</a>
                        <div class="description">Author</div>
                        </div>
                    </div>

                     <div class="item">
                        <i class="large open book middle aligned icon"></i>
                        <div class="content">
                        <a class="header">Song Title</a>
                        <div class="description">Author</div>
                        </div>
                    </div>


                    <div class="item">
                        <i class="large open book middle aligned icon"></i>
                        <div class="content">
                        <a class="header">Song Title</a>
                        <div class="description">Author</div>
                        </div>
                    </div>


                    <div class="item">
                        <i class="large open book middle aligned icon"></i>
                        <div class="content">
                        <a class="header">Song Title</a>
                        <div class="description">Author</div>
                        </div>
                    </div>


                </div>

            </div>

            <div class='column'>
                    <h2 class='ui header'>
                    <i class='ui open book icon'></i>
                    <div class='content'>
                        Sermons and Devotions
                    </div>
                </h2>
                <div class='ui horizontal divider'><i class='ui book icon'></i></div>
                <div class="ui relaxed divided list">
                    <div class="item">
                        <i class="large open book middle aligned icon"></i>
                        <div class="content">
                        <a class="header">Sermon Name</a>
                        <div class="description">Date Posted - Preacher</div>
                        </div>
                    </div>

                     <div class="item">
                        <i class="large open book middle aligned icon"></i>
                        <div class="content">
                        <a class="header">Sermon Name</a>
                        <div class="description">Date Posted - Preacher</div>
                        </div>
                    </div>


                    <div class="item">
                        <i class="large open book middle aligned icon"></i>
                        <div class="content">
                        <a class="header">Sermon Name</a>
                        <div class="description">Date Posted - Preacher</div>
                        </div>
                    </div>


                    <div class="item">
                        <i class="large open book middle aligned icon"></i>
                        <div class="content">
                        <a class="header">Sermon</a>
                        <div class="description">Date Posted - Preacher</div>
                        </div>
                    </div>


                </div>
            
            </div>

        </div>
    </div>
{% endblock content %}